{% extends "base.html" %}

{% block content %}

    <h4 class="card-header">Authorized</h4>
    <div class="card-body">
        <p class="card-text">
        
        {% if data %}
            <table class="table table-bordered table-striped" style="width: 100%; padding: 10px; table-layout: auto;">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data %}
                        <tr>
                            <td><b>{{ key }}</b></td>
                            <td style="padding: 15px; word-wrap: break-word; white-space: normal; word-break: break-word;">
                                <small>{{ value }}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b>code:</b></td>
                        <td><small>{{ code }}</small></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </p>
    </div>

{% endblock %}
