{% extends "base.html" %}

{% block content %}

    {% if title == 'Hello to Xero App.' %}
        <h4 class="card-header">{{ title }}</h4>
    {% else %}
        <h4 class="p-3 mb-2 bg-success text-white">{{ title }}</h4>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <p>status code: {{ status_code }}</p>
            <p>error message: {{ error }}</p>
        </div>
    {% endif %}
    <div class="card-body">
        <p class="card-text">
        
        {% if data %}
            <table class="table table-bordered table-striped" style="width: 100%; padding: 10px; table-layout: auto;">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data %}
                        <tr>
                            <td><b>{{ key }}</b></td>
                            <td style="padding: 15px; word-wrap: break-word; white-space: normal; word-break: break-word;">
                                <small>{{ value }}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b>code:</b></td>
                        <td><small>{{ code }}</small></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </p>
    </div>

{% endblock %}
